#grid{
  display:grid;
  grid-template-columns: 1fr 5fr;
}
a{
  text-decoration: none;
}
h1{
  border-bottom-style: solid;
  font-size: 50px;
  padding: 20px;
  margin:0;
}
h1,h2,h3{
  text-align: center;
}
#list {
  font-size: 30px;
  border-right-style: solid;
}
#list ol{
  margin:0;
  padding:30px;
}
#list a{
  color: black;
}
#night_day{
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: auto;
}
